@{
    Layout = null;
}

@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ASP.NET Web API</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/kendo/css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper">  
            <div class="header-info">
                <img src="@Url.Content("~/Images/profile.png")" alt="profile" />
                <img src="@Url.Content("~/Images/settings.png")" alt="settings" />
                <img src="@Url.Content("~/Images/help.png")" alt="help" />
                <img class="last-image" src="@Url.Content("~/Images/sign_out.png")" alt="sign out" id="sign-out" />
            </div>
            <!--<div class="float-left">
                <p class="site-title"><a href="/">@ViewBag.isMobileOn</a>
                </p>
            </div>-->
        </div>
    </header>
    <div id="outer-container">
        <div id="container" class="k-content">
        <section class="featured">
            <div id="the-challenge-container">
                <div id="the-challenge-tabstrip">
					<ul>
						<li class="k-state-active">
							Profile
						</li>
						<li>
							Contests
						</li>
						<li>
							Calendar
						</li>
						<li>
							Blog
						</li>
						<li>
							Reports
						</li>
						<li>
							Food Repository
						</li>
					</ul>
                    <div>
                        <div class="sub-container">
                            <h2>Dimitry Ushakov</h2>
							<table id="currentLiftsTable">
								<thead>
									<tr>
										<th>
											Exercise/Routine
										</th>
										<th>
											Last Executed
										</th>
										<th>
											Result
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="3"></td>
									</tr>
								</tbody>
							</table>
                            <br />
							<table id="goalsTable">
								<thead>
									<tr>
										<th>
											Exercise/Routine
										</th>
                                        <th>
                                            Contest
                                        </th>
										<th>
											Contest Date
										</th>
										<th>
											Goal
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="4"></td>
									</tr>
								</tbody>
							</table>
                        </div>
                    </div>
                    <div>
                        <div class="sub-container">
                            <h2>Contests</h2>
							<table id="contestTable">
								<thead>
									<tr>
										<th>
											Exercise/Routine
										</th>
										<th>
											Date
										</th>
										<th>
											Place
										</th>
                                        <th>
                                            Goal
                                        </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="4"></td>
									</tr>
								</tbody>
							</table>
                        </div>
                    </div>
                    <div>
						<div class="sub-container">
                            <div style="float:left; display:inline;padding:15px;">
							    <div id="calendar"></div>
                                <div>
                                    <button class="k-button" id="add-workout" name="add-workout">Add Workout</button>
                                    <button class="k-button" id="add-diet" name="add-diet">Add Diet</button>
                                </div>
                            </div>
                            <div style="float:left;display:inline;padding:15px;">
	                            <div id="add-workout-id" style="width:600px">
		                            <div id="add-workout-panel" class="k-widget k-header" style="padding:10px;">
                                        <div>
                                            <label for="add-workout-date">Date:</label>
                                            <input data-role="datepicker" data-bind="value: entryDate" />
                                        </div>
			                            <div>
				                            <label for="add-workout-exercise">Exercise/Routine:</label>
				                            <input data-role="autocomplete" data-text-field="Name" id="add-workout-exercise" data-bind="source: events, value: exerciseName"/>
			                            </div>
			                            <div>
				                            <label for="add-workout-reps">Reps:</label>
				                            <input data-role="numerictextbox" id="add-workout-reps" min="0" decimals="0" data-bind="value: reps" />
			                            </div>
			                            <div>
				                            <label for="add-workout-weight">Weight:</label>
				                            <input data-role="numerictextbox" id="add-workout-weight" min="0" decimals="1" data-bind="value: weight" />
			                            </div>
			                            <div>
				                            <label for="add-workout-time">Time:</label>
				                            <input type="text" pattern="\d{2}:\d{2}:\d{2}.\d{3}" id="add-workout-time" data-bind="value: time" />
			                            </div>
			                            <div>
				                            <label for="add-workout-distance">Distance:</label>
				                            <input data-role="numerictextbox" id="add-workout-distance" min="0" decimals="1" data-bind="value: distance" />
			                            </div>
			                            <button id="add" class="k-button" data-bind="click: addExercise">Add Exercise</button>
		                            </div>

		                            <div id="workout-preview">
			                            <!-- do the remote binding + source and template binding here! -->
			                            <table id="workout-preview-table">
				                            <thead>
					                            <tr>
						                            <th>Exercise/Routine</th>
						                            <th>Reps</th>
						                            <th>Weight</th>
						                            <th>Time</th>
						                            <th>Distance</th>
                                                    <th>Action</th>
					                            </tr>
				                            </thead>
				                            <tbody data-template="preview-row-template" data-bind="source: exercises"></tbody>
				                            <tfoot data-template="preview-footer-template" data-bind="source: this"></tfoot>
			                            </table>                                        
		                            </div>
	                            </div>
                            </div>
                            <div style="float:left;display:inline;padding:15px;">
			                    <div id="workout-view" style="width:700px"></div>
			                    <div id="meal-view" style="width:700px"></div>
                            </div>
                            <div style="float:left;display:inline;padding:15px;">
	                            <div id="add-diet-id" style="width:600px">
		                            <div id="add-diet-panel" class="k-widget k-header" style="padding:10px;">
                                        <div>
                                            <label for="add-diet-date">Date:</label>
                                            <input data-role="datepicker" required data-bind="value: entryDate" />
                                        </div>
                                        <div>
                                            <label for="add-diet-time">Time:</label>
                                            <input data-role="timepicker" required data-bind="value: entryTime" />
                                        </div>
			                            <div>
				                            <label for="add-diet-name">Food:</label>
				                            <input data-role="autocomplete" required data-text-field="Name" id="add-diet-name" data-bind="source: events, value: foodName, events: {close: selectFoodForAdding}"/>
			                            </div>
			                            <div>
				                            <label for="add-diet-serving">Servings:</label>
				                            <input data-role="numerictextbox" id="add-diet-serving" min="0" decimals="1" data-bind="value: dietServing" />
				                            <input data-role="dropdownlist" data-text-field="Description" data-value-field="Id" id="add-diet-serving-type" data-bind="source: servingTypes, value: dietServingType" />
			                            </div>
			                            <button id="addFood" class="k-button" data-bind="click: addFood">Add Food</button>
		                            </div>

		                            <div id="diet-preview">
			                            <!-- do the remote binding + source and template binding here! -->
			                            <table id="diet-preview-table">
				                            <thead>
					                            <tr>
                                                    <th>Date</th>
						                            <th>Food</th>
						                            <th>Serving Size</th>
                                                    <th>Action</th>
					                            </tr>
				                            </thead>
				                            <tbody data-template="preview-diet-row-template" data-bind="source: foods"></tbody>
				                            <tfoot data-template="preview-diet-footer-template" data-bind="source: this"></tfoot>
			                            </table>                                        
		                            </div>
	                            </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                    <div>
                        <div class="sub-container">
                             <input id="food-repository"/>
                             <input id="serving-repository-view" />
                             <div id="nutrient-repository-view" />
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
    </div>
    <div class="pop-up-window" id="sign-in-window">
        <div id ="sign-in-information">
            <label for="sign-in-name">User Name:</label>
            <input type="text" required id="sign-in-name" name="sign-in-name" validationMessage="Please enter your name" data-bind="value: signInName" /><br />

            <label for="sign-in-password">Password:</label>
            <input type="password" required id="sign-in-password" name="sign-in-password" validationMessage="Please enter your password" data-bind="value: signInPassword" /><br />

		    <button id="sign-in" tabindex=3 class="k-button" data-bind="click: signIn">Sign In</button>
		    <button id="view-register" class="k-button">Not registered?</button><br />
            <span class="error" id="sign-in-error" data-bind="text: errorMessage" />
        </div>
    </div>
    <div class="pop-up-window" id="register-window">
        <div id ="register-information">
            <label for="register-name">User Name:</label>
            <input type="text" id="register-name" required validationMessage="Please enter your name" name="register-name" data-bind="value: registerName"  /><br />
            <label for="register-password">Password:</label>
            <input type="password" id="register-password" required validationMessage="Please enter your password" name="register-password"  data-bind="value: registerPassword" /><br />
            <label for="confirm-register-password">Confirm Password:</label>
            <input type="password" id="confirm-register-password" name="confirm-register-password" data-bind="value: confirmPassword" validationMessage="Please verify that confirmed password and password match." /><br />
		    <button id="register" class="k-button" data-bind="click: register">Register</button>
        </div>
    </div>
</body>
<script id="preview-row-template" type="text/x-kendo-template">
    <tr>
        <td data-bind="text: name"></td>
        <td data-bind="text: reps"></td>
        <td data-bind="text: weight"></td>
        <td data-bind="text: time"></td>
        <td data-bind="text: distance"></td>
        <td><button data-bind="click: deleteExercise" class="k-button">Delete</button></td>
    </tr>
</script>
<script id="preview-diet-row-template" type="text/x-kendo-template">
    <tr>
        <td data-bind="text: Date"></td>
        <td data-bind="text: Name"></td>
        <td data-bind="text: serving"></td>
        <td><button data-bind="click: deleteFood" class="k-button">Delete</button></td>
    </tr>
</script>
<script id="preview-footer-template" type="text/x-kendo-template">
    <tr>
        <td colspan="5">
            Exercises count: #: total() #
        </td>
		<td>
			<button id="save-exercise" class="k-button" data-bind="enabled: isEnabled, click: save">Save</button>
		</td>
    </tr>
</script>
<script id="preview-diet-footer-template" type="text/x-kendo-template">
    <tr>
        <td colspan="2">
            Food count: #: total() #
        </td>
		<td>
			<button id="save-meal" class="k-button" data-bind="enabled: isEnabled, click: save">Save</button>
		</td>
    </tr>
</script>
<script type="text/x-kendo-template" id="contest-events-template">
    <div class="contest-events"></div>
</script>
<script type="text/x-kendo-template" id="meal-nutrient-template">
    <div class="meal-nutrients"></div>
</script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/thechallenge.js")" type="text/javascript"></script>
@MiniProfiler.RenderIncludes()
</html>
