<!DOCTYPE html>
<html>
<head>
  <title>TheChallenge</title>
  <%= stylesheet_link_tag "/assets/styles/kendo.mobile.all.min", "http://cdn.kendostatic.com/2012.1.322/styles/kendo.common.min.css", "http://cdn.kendostatic.com/2012.1.322/styles/kendo.default.min.css", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <%= javascript_include_tag "/assets/js/jquery.min", "/assets/js/kendo.mobile.min" %>
<%= yield :js %>
</body>
</html>
